<footer class="footer">
    <div class="title">
        <a href="http://localhost:8080/index" target="_blank">Blog</a>
        <a href="https://github.com/" target="_blank">Github</a>
        <a href="https://gitee.com/" target="_blank">Gitee</a>
        <a href="https://www.zhihu.com/" target="_blank">知乎</a>
        <a href="https://leetcode-cn.com" target="_blank">LeetCode</a>
    </div>
    <div class="content">
        <div class="p">本站已运行:181days&nbsp;&nbsp;|&nbsp;&nbsp;共计文章:78篇</div>
        <div class="p">今日IP:712&nbsp;&nbsp;|&nbsp;&nbsp;PV:4005</div>
        <div class="p">&copy; 2017 - 2019 JackJun's blog</div>
        <a class="p" href="http://www.miibeian.gov.cn/publish/query/indexFirst.action"
           target="_blank">豫ICP备19007008号</a>
    </div>
</footer>