<footer class="footer">
    <div class="title">
        <a href="/" target="_blank">Blog</a>
        <a href="https://github.com/Jack1477/" target="_blank">Github</a>
        <a href="https://www.zhihu.com/people/wang-jun-jie-20-30/activities" target="_blank">知乎</a>
        <a href="https://leetcode-cn.com/u/jackjun0724/" target="_blank">LeetCode</a>
    </div>
    <div class="content">
        <div class="p">本站已运行:181days&nbsp;&nbsp;|&nbsp;&nbsp;共计文章:78篇</div>
        <div class="p">今日IP:712&nbsp;&nbsp;|&nbsp;&nbsp;PV:4005</div>
        <div class="p">&copy; 2017 - 2019 Zero blog</div>
        <a class="p" href="http://www.beian.miit.gov.cn"
           target="_blank">豫ICP备19007008号</a>
    </div>
</footer>