<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jacknoob.blog.mapper.LoginTypeMapper">
    <resultMap id="BaseResultMap" type="com.jacknoob.blog.entity.LoginType">
    <constructor>
      <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="t_name" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
    <insert id="insert" parameterType="com.jacknoob.blog.entity.LoginType">
    insert into login_type (id, t_name)
    values (#{id,jdbcType=INTEGER}, #{tName,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.jacknoob.blog.entity.LoginType">
    insert into login_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tName != null">
        t_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tName != null">
        #{tName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>