<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jacknoob.blog.mapper.NoteHasTagsMapper">
    <resultMap id="BaseResultMap" type="com.jacknoob.blog.entity.NoteHasTags">
    <constructor>
      <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="tag_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="note_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
    <insert id="insert" parameterType="com.jacknoob.blog.entity.NoteHasTags">
    insert into note_has_tags (id, tag_id, note_id
      )
    values (#{id,jdbcType=INTEGER}, #{tagId,jdbcType=INTEGER}, #{noteId,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.jacknoob.blog.entity.NoteHasTags">
    insert into note_has_tags
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tagId != null">
        tag_id,
      </if>
      <if test="noteId != null">
        note_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tagId != null">
        #{tagId,jdbcType=INTEGER},
      </if>
      <if test="noteId != null">
        #{noteId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>