<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.luckyvv.blog.mapper.NoteMapper">
  <resultMap id="BaseResultMap" type="cn.luckyvv.blog.entity.Note">
    <constructor>
      <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="publish_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="last_update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="content" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="display_type" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.luckyvv.blog.entity.Note">
    <constructor>
      <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="publish_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="last_update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="content" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="display_type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="display_content" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Blob_Column_List">
    display_content
  </sql>
  <insert id="insert" parameterType="cn.luckyvv.blog.entity.Note">
    insert into note (id, title, publish_time, 
      last_update_time, content, display_type, 
      display_content)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{publishTime,jdbcType=TIMESTAMP}, 
      #{lastUpdateTime,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR}, #{displayType,jdbcType=INTEGER}, 
      #{displayContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.luckyvv.blog.entity.Note">
    insert into note
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="publishTime != null">
        publish_time,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="displayType != null">
        display_type,
      </if>
      <if test="displayContent != null">
        display_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null">
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="displayType != null">
        #{displayType,jdbcType=INTEGER},
      </if>
      <if test="displayContent != null">
        #{displayContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>