<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jacknoob.blog.mapper.PvMapper">
    <resultMap id="BaseResultMap" type="com.jacknoob.blog.entity.Pv">
        <constructor>
            <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="date" javaType="java.util.Date" jdbcType="DATE"/>
            <arg column="num" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
    <insert id="insert" parameterType="com.jacknoob.blog.entity.Pv">
        insert into pv (id, date, num)
        values (#{id,jdbcType=INTEGER}, #{date,jdbcType=DATE}, #{num,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.jacknoob.blog.entity.Pv">
        insert into pv
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="date != null">
                date,
            </if>
            <if test="num != null">
                num,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="date != null">
                #{date,jdbcType=DATE},
            </if>
            <if test="num != null">
                #{num,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="selectNow" resultType="java.util.Map">
        SELECT num
        FROM `pv`
        where date = CURRENT_DATE
    </select>
    <insert id="insertNow">
        insert into pv (date, num)
        values (CURRENT_DATE, 1)
    </insert>
    <update id="addOneNow">
        update pv
        set num = num + 1
        where date = current_date
    </update>

    <select id="getWeekVisits" resultType="java.util.Map">
        SELECT DATE_FORMAT(date, '%w') as weekd, sum(num) count
        FROM pv
        WHERE YEARWEEK(date_format(date, '%Y-%m-%d')) = YEARWEEK(now()) - 1
        group by weekd
        order by weekd
    </select>

    <select id="getDayVisitsNum" resultType="java.lang.Integer">
        select ifnull(sum(num), 0) count
        from pv
        where pv.date = date_format(now(), '%Y-%m-%d')
    </select>

    <select id="getWeekVisitsNum" resultType="java.lang.Integer">
        select ifnull(sum(num), 0) count
        from pv
        where YEARWEEK(date_format(date, '%Y-%m-%d')) = YEARWEEK(now())
    </select>
</mapper>