<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Zero's Blog</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <div th:replace="common/head"></div>
</head>
<body>

<div id="animation">
    <div class="spinner"></div>
    <h2 style="text-align: center;color:#999">Loading...</h2>
</div>
<div id="app">
    <!-- 导航栏 -->
    <div th:replace="common/header"></div>
    <!-- 至顶部 -->
    <div :class="{hideTop:top}" @click="toTop" class="top">
        <i class="el-icon-download" style="transform: rotate(180deg);"></i>
    </div>
    <div class="main-container">
        <h1 style="color: #808080;text-align: center">Note</h1>
        <transition-group
                :css="false"
                @before-enter="beforeEnter"
                @enter="enter"
                @leave="leave">
            <div :data-index="index" :key="item.id" @click="openNote(item.id)" class="note-info"
                 v-for="(item,index) in notes">
                <el-card :class="{topping:item.display_type==1}" style="padding:0 10px 40px;">
                    <div class="note-header-hr"></div>
                    <div class="note-header" v-text="item.title"></div>
                    <div class="note-message">
                        <span>作者：JackJun</span>
                        <span class="separator"></span>
                        <span>字数 ≈ {{lenFormat(item.len)}}</span>
                        <!--<span class="separator"></span>-->
                        <!--<span>访问量 < 1k</span>-->
                    </div>
                    <div class="note-summary" v-text="item.display_content"></div>
                    <div class="note-footer">
                        <div class="note-date" v-text="dateFormat(item.publish_time)"></div>
                    </div>
                </el-card>
            </div>
        </transition-group>

    </div>
    <div class="page">
        <el-pagination :current-page="page"
                       :page-size="10"
                       :total="total"
                       @current-change="pageChange"
                       layout="prev, pager, next"
                       style="display: inline-block">
        </el-pagination>
    </div>
    <!-- 底部footer -->
    <div th:replace="common/footer"></div>
</div>
<script th:inline="javascript">
    let dataJson = [[${data}]]
</script>
<script src="https://cdn.bootcss.com/velocity/2.0.5/velocity.min.js"></script>
<!--vue-->
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
<!-- element-ui -->
<script src="https://cdn.bootcss.com/element-ui/2.7.2/index.js"></script>
<script th:src="@{/js/home.js}"></script>
</body>
</html>
<script>
    document.querySelector("#app").style.display = 'block';
    document.querySelector("#animation").style.opacity = 0;
    setTimeout(() => {
        document.querySelector("#animation").style.display = 'none'
    }, 500)
</script>