<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>归档 - Zero's Blog</title>
    <link rel="stylesheet" th:href="@{/css/timeline.css}">
    <div th:replace="common/head"></div>
</head>
<body>
<div id="animation">
    <div class="spinner"></div>
    <h2 style="text-align: center;color:#999">Loading...</h2>
</div>
<div id="app">
    <!-- 导航栏 -->
    <div th:replace="common/header"></div>
    <!-- 至顶部 -->
    <div class="top" :class="{hideTop:top}" @click="toTop">
        <i class="el-icon-download" style="transform: rotate(180deg);"></i>
    </div>
    <div class="main-container" v-cloak>
        <el-timeline>
            <transition-group
                    :css="false"
                    @before-enter="beforeEnter"
                    @enter="enter"
                    @leave="leave">
                <el-timeline-item v-for="(item,index) in timeLineData" :timestamp="item.date" placement="top"
                                  type="primary" color="rgb(255, 41, 73)" :key="item.id" :data-index="index">
                    <el-card class="card" v-for="i in item.note" :key="i.id">
                        <h4 @click="openNote(i.id)">发布文章 {{i.title}}</h4>
                        <p>发布于 {{dateFormat(i.publish_time)}}</p>
                    </el-card>
                </el-timeline-item>
            </transition-group>
        </el-timeline>
    </div>
    <div class="page">
        <div class="load-more" v-if="hasMore" @click="loadMore" v-text="isLoading?'加载中':'加载更多'"></div>
        <div class="load-more" v-else v-text="'已经到底了~'"></div>
    </div>
    <!-- 底部footer -->
    <div th:replace="common/footer"></div>
</div>
<script th:inline="javascript">
    let dataJson = [[${data}]]
</script>
<!-- Axios -->
<script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
<script src="https://cdn.bootcss.com/velocity/2.0.5/velocity.min.js"></script>
<!--vue-->
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
<!-- element-ui -->
<script src="https://cdn.bootcss.com/element-ui/2.7.2/index.js"></script>
<script th:src="@{/js/timeline.js}"></script>
</body>
</html>
<script>
    document.querySelector("#app").style.display = 'block';
    document.querySelector("#animation").style.opacity = 0;
    setTimeout(()=>{document.querySelector("#animation").style.display='none'},500)
</script>